<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a40ddc19-faba-40e8-bdc2-241b47497e2b/resourceGroups/FirstAzureGroup/providers/Microsoft.Web/sites/SmartHouseLicenta</ResourceId>
    <ResourceGroup>FirstAzureGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://smarthouselicenta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>smarthouselicenta.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SmartHouseLicenta</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SmartHouseLicenta</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=93.118.47.218;Initial Catalog=SmartHouse;User ID=andreis1998;Password=student" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LicentaPrototip.Models.ApplicationDbContext, LicentaPrototip" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SmartHouseConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=93.118.47.218;Initial Catalog=SmartHouse;User ID=andreis1998;Password=student" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LicentaPrototip.Context.AppDbContext, LicentaPrototip" MigrationConfiguration="LicentaPrototip.Migrations.Configuration, LicentaPrototip" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SmartHouseConnection-Web.config Connection String">
      <ParameterValue>Data Source=93.118.47.218;Initial Catalog=SmartHouse;User ID=andreis1998;Password=student</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=93.118.47.218;Initial Catalog=SmartHouse;User ID=andreis1998;Password=student</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>