
@{
    ViewBag.Title = "Control porti";
}

<h2>Control porti</h2>
<br>

<li class="btn btn-secondary">@Html.ActionLink("Deschide Usa", "OpenDoor", "Lights")</li>
<li class="btn btn-secondary">@Html.ActionLink("Inchide Usa", "CloseDoor", "Lights")</li>

