@using LicentaPrototip.Models;
@{
    ViewBag.Title = "Control porti";
}

@model MyHouseModel

<br>
<h2>Control porti</h2>
<br>

<div class="form-group row">
    <div class="row-cols-md-7">
        <button class="btn btn-secondary" id="openBtn" onclick="OpenDoor()">Deschide poarta</button>
        <button class="btn btn-secondary" id="closeBtn" onclick="CloseDoor()">Inchide poarta</button>
    </div>
</div>
<div class="form-group row">
    @Html.Label("Setare poarta automata")
    <div class="col-md-3">
        @if (Model.IsDoorAutomatic)
        {
            <input id="AutomaticDoorCheckBox" type="checkbox" onchange="SetAutomaticDoor()" checked="checked" />
        }
        else
        {
            <input id="AutomaticDoorCheckBox" type="checkbox" onchange="SetAutomaticDoor()" />
        }
    </div>
</div>

<script>
    function OpenDoor() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("OpenDoor")'
        });
    }

    function CloseDoor() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CloseDoor")'
        });
    }

    function SetAutomaticDoor() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SetAutomaticDoor")'
        });
    }
</script>

