
@{
    ViewBag.Title = "MyHouse";

}

<br>
<h2>MyHouse</h2>
<br>

<li class="btn btn-secondary">@Html.ActionLink("Lumini", "Index", "Lights")</li>
<li class="btn btn-secondary">@Html.ActionLink("Porti", "Index", "Motors")</li>
<li class="btn btn-secondary">@Html.ActionLink("Temperatura", "Index", "Temperature")</li>

